*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
Generated_Code/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.dbmdl
*.bak
*.ldf
*.mdf
*.publish.xml
publish/
.idea/
*.DotSettings.user
.DS_Store
Thumbs.db
ehthumbs.db
*.log
*.tmp
~$*
